@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Changa:wght@200..800&family=Sixtyfour&display=swap');

#navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  display: inline-block;
  font-family: 'Sixtyfour', sans-serif;
}
